.mobile{
    height: 400px;
    box-shadow: 0 0 10px #333;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    margin: 10px;
}
.mobile img{
    width: 250px;
    height: 250px;
}
.mobile h3{
    font-size: 25px;
    color: #333;
}
.mobile p{
    font-size: 16px;
    color: red;
}
.addToCard{

    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.addToCard button{
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 30px;
    background: #333;
    border: 0;
    color: #fff;
    margin: auto;
    display: flex;
    background: navy;
}
.addToCard button .icon{
    font-size: 20px;
    margin-left: 10px;
    
}
