.product{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.mobile-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
   
}
@media only screen and (max-width: 600px) {
    .mobile-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .product{
        grid-template-columns: 1fr;
    }
  }